.create_colab{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 500px;
    background-color: rgb(255, 251, 243);



}
.create_colab h1{
    color: black;
}