
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px; 
}


.container_img {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.img {
    width: 300px;
    border: 4px solid deeppink;
    border-radius: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


.placa {
    font-size: 66px;
    padding: 10px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
}


.modelo {
    font-size: 30px;
    color: #999;
    padding: 10px;
}

.email {
    font-size: 20px;
    text-align: justify;
    padding: 10px;
    color: #666;
}


.btn {
    border: none; 
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(17, 179, 53, 0.99) 0%, rgba(19, 215, 2, 1) 100%);
    color: #FFF;
    padding: 10px 15px; 
    font-size: 18px;
    text-align: center;
    cursor: pointer; 
    transition: transform 0.2s ease, box-shadow 0.2s ease; 
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}


.container_buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; 
    color: #999;
}


@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr; 
    }

    .img {
        width: 100%; 
        max-width: 300px;
    }
}
