.list_cars{
    width: 690PX;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 500px;
    background-color: rgb(255, 251, 243);



}
.list_cars h1{
    color: black;
}